
#{extends 'admin.html' /}
#{set title: 'Details sur le formateur' /}
#{set 'subTitle'}
    ${object.formateur_nom}
#{/set}
#{set 'actionMenu'}
    #{manager.menu.actions/}
#{/set}
<div class="row">
    <div class="col-lg-12">
       
        <section class="content">
         <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Detail sur le formateur</h3> -  
                   <a href="@{list()}" >Retour a la liste</a> -
                   <a href="@{edit()}" >Nouveau formateur</a>
             
            </div>
            <div class="box-body">
               Numéro:   ${object.id} 
            </div><!-- /.box-body -->
            <div class="box-body">
               Formateur :    ${object.formateur_nom}
            </div>
            <div class="box-body">
            Logo :  <img src="@{formateurLogo(object.id)}" class="dimfoto">
            </div>
             <div class="box-body">
               Adresse:     ${object.adresse}
            </div>
            <div class="box-body">
               Téléphone:     ${object.telephone}
            </div>
            <div class="box-body">
               Email:     ${object.email}
            </div>
            <div class="box-body">
               Localité:     ${object.localite}

            </div>
            <div class="box-body">
               Siège:    ${object.siege}
            </div>
              
             <div class="box-body">
                &{'object.created'} :   ${object.created?.format("dd/MM/yyyy")}
            </div>
             <div class="box-body">
               &{'object.updated'} : &{object.updated?.format("dd/MM/yyyy")}
            </div>
            <div class="box-footer">
               #{manager.object.editButton id : object.id /}
            <!--   #{manager.object.deleteButton id : object.id /} -->
            </div><!-- /.box-footer-->
          </div>
        </section>
        
   
       
    </div>
</div>
