
   #{extends 'Clients/indexClient.html' /}
#{set title:'Home' /}
#{set 'subTitle'}
    
#{/set}
<br/> 
<br/> 
<br/> 


<table class="table table-hover table-striped table-condensed" id="testTable">
    <thead>
        <tr>
            <th>id  </th>
            <th> Congé de </th>
            <th>motif  </th>
            <th>Date de debut </th>
            <th> Date de fin</th>
            
        </tr> 
    </thead>
    <tbody>
        #{list items :objects, as:'conges'}
         <tr>
                <td> ${conges.id}   </td>
                <td> ${conges?.libelle_conge}   </td>
                <td> ${conges?.motif}   </td>
                <td> ${conges?.date_debut}   </td>
                <td> ${conges?.date_fin}   </td>
            
           

           
           </tr>
        #{/list}
    </tbody>
</table>  