#{extends 'formationContinue.html' /}
#{set title: 'Details de la demande' /}
<style>
     .editor {overflow:scroll; height : 250px; max-height:250px; border : 1px solid #ccc; overflow-x : none; overflow-y: scroll; padding : 10px;} 

</style>

 
    <div class="row">
    <div class="col-lg-12">
         <div class="col-lg-4">
          <div class="form-group">
              <label class="control-label col-sm-3" for="matricule">Matricule:</label>
               <div class="col-sm-9">
                  <input type="text" class="form-control" id="matricule" value="${agent?.matricule}">
               </div>
         </div>
         </div> 
         <div class="col-lg-4">
         <div class="form-group">
              <label class="control-label col-sm-2" for="nom">Nom:</label>
               <div class="col-sm-10">
                  <input type="text" class="form-control" id="nom" value="${agent?.nom}">
               </div>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
              <label class="control-label col-sm-2" for="prenom">Pr&eacute;nom</label>
               <div class="col-sm-10">
                  <input type="email" class="form-control" id="prenom" value="${agent?.prenom}">
               </div>
         </div>
         </div>
    </div>
    </div><br>
     <div class="row">
    <div class="col-lg-12">
         <div class="col-lg-4">
          <div class="form-group">
              <label class="control-label col-sm-3" for="matricule">S.Direction:</label>
               <div class="col-sm-9">
                  <input type="text" class="form-control" id="classe" value="${agent?.libelle_sous_dir_courant}">
               </div>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
              <label class="control-label col-sm-2" for="nom">Poste:</label>
               <div class="col-sm-10">
                  <input type="text" class="form-control" id="grade" value="${agent?.libelle_poste}">
               </div>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
              <label class="control-label col-sm-2" for="prenom">Statut</label>
               <div class="col-sm-10">
                  <input type="email" class="form-control" >
               </div>
         </div>
         </div>
    </div>
    </div>
<hr>
    <div class="row">

  <div class="row">
    <div class="col-lg-12">
         <div class="col-lg-4">
          <div class="form-group">
            <label class="control-label col-sm-2" for="du">Designation</label>
               <div class="col-sm-8">
                  <input type="text" class="form-control" id="du" value="${formation?.libelle_formation}" disabled="true">
               </div>
               <label class="control-label col-sm-2" for="au"></label>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
              <label class="control-label col-sm-2" for="au">Carte</label>
               <div class="col-sm-8">
                  <input type="text" class="form-control" id="au" value="${formation?.carte}" disabled="">
               </div>
               <label class="control-label col-sm-2" for="au"></label>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
              <label class="control-label col-sm-2" for="duree">Diplôme</label>
               <div class="col-sm-8">
                  <input type="email" class="form-control" id="duree" disabled="true" value="${formation?.diplome}">
               </div>
                <label class="control-label col-sm-2" for="duree"></label>
         </div>
         </div>
    </div>
    </div>
<hr>
      <div class="row">
    <div class="col-lg-12">
         <div class="col-lg-4">
          <div class="form-group">
            <label class="control-label col-sm-2" for="nom"></label>
             <div class="col-sm-10">
             <div class="form-group">
             <label for="pwd">Date de debut </label>
                 <input  type="text" class="form-control " name="eDate" value="${object?.libelle_conge}">
             </div>
        
              </div>
             </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
            <label class="control-label col-sm-2" for="nom"></label>
             <div class="col-sm-10">
             <div class="form-group">
             <label for="pwd">Date de fin</label>
                 <input  type="text" class="form-control " name="eDate" value="${object?.motif}">
             </div>
        
              </div>
             </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
            <label class="control-label col-sm-2" for="nom"></label>
             <div class="col-sm-10">
             <div class="form-group">
             <label for="pwd">Lieu de la formation</label>
                 <input  type="text" class="form-control " name="eDate" value="${object?.motif}">
             </div>
        
              </div>
             </div>
         </div>

    </div>
    </div>
 </div><br><br>
 
 
    
 