#{extends 'Clients/indexClient.html' /}
<br/>
<br/>
<br/>
<br/>
<h3 style="text-align:center">Nouvelle demande de congés</h3>
<br/>
<br/>
<!-- CSS -->
      <style>
         .ui-widget-header,.ui-state-default, ui-button{
            background:#b9cd6d;
            border: 1px solid #b9cd6d;  
            color: #FFFFFF;
            font-weight: bold;  
         }
     .editor {overflow:scroll; height : 250px; max-height:250px; border : 1px solid #ccc; overflow-x : none; overflow-y: scroll; padding : 10px;}
</style>
#{if object} 
    #{set subTitle : object?.libelle_conge /}
#{/if}     
#{else}
    #{set 'subTitle'}
        Ins&eacute;rer
    #{/set}
#{/else}

#{set 'actionMenu'}
    #{manager.menu.actions/}
#{/set}
 
#{form @demandeCongeSave() , class : 'form'}
#{if object}
        <input type="hidden" name="agent.id" value="${agent?.id}" />
        <input type="hidden" name="object.id" value="${object?.id}" />
#{/if}  
    <div class="row"> 
    <div class="col-lg-12">
          <div class="col-lg-4">
       <div class="col-sm-12">
             #{field 'congeId'}
           #{form.select field : field, items : allconges, valueProperty : 'id', labelProperty : 'libelle_conge' , required : false, value : agentDecore?.decoration?.id ? agentDecore?.decoration?.id : 0, label : 'Type de congés' /}
       #{/field}
       </div>
         </div>
        <div class="col-lg-4">
       <div class="form-group">
            <label class="control-label col-sm-2" for="nom"></label>
             <div class="col-sm-10">
             <div class="form-group">
             <label for="pwd">Date de debut</label>
                 <input data-format="dd/MM/yyyy" type="text" class="form-control datepickers" name="eDate" value="${object?.date_debut?.format("dd/MM/yyyy")}">
             </div>
        
              </div>
             </div>
       </div>
     <div class="col-lg-4">
     <div class="form-group">
            <label class="control-label col-sm-2" for="nom"></label>      
             <div class="col-sm-10">
             <div class="form-group">
             <label for="pwd">Date de fin:</label>
                 <input data-format="dd/MM/yyyy" type="text" class="form-control datepickers" name="vDate" value="${object?.date_fin?.format("dd/MM/yyyy")}"
                 >
             </div>
        
              </div>
             </div>
       
       </div>
    </div> 
    </div>
    <br/>
    <div class="row">
         <div class="col-lg-12">
                   <textarea class="form-control" rows="3" id="motif" placeholder="Motif" name="motif" value="${object?.motif}"></textarea>     
                   <label class="control-label col-sm-2" ></label>
         </div>
    </div>
         <div class="row">
           <div class="col-lg-12">
             <div class="col-lg-8"></div>
             <div class="col-lg-4">
             <label class="control-label col-sm-6" ></label>
             <div class="col-sm-6">
               <button class="btn btn-blue" type="submit">
                          Creer
               </button>
               </div>
             </div>
           </div>
         </div>

#{/form}
<br/>


    #{set 'moreScripts'}
<script src="/public/javascripts/jquery.hotkeys.js"></script>
<script src="/public/javascripts/bootstrap-wysiwyg.js"></script>

<script src="@{'public/plugins/jQuery/jquery-2.1.1.min.js'}"></script>
        <script src="@{'public/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js'}"></script>
        <script src="@{'public/plugins/bootstrap/js/bootstrap.min.js'}"></script>
        <script src="@{'public/plugins/blockUI/jquery.blockUI.js'}"></script>
        <script src="@{'public/plugins/iCheck/jquery.icheck.min.js'}"></script>
        <script src="@{'public/plugins/moment/min/moment.min.js'}"></script>
        <script src="@{'public/plugins/perfect-scrollbar/src/jquery.mousewheel.js'}"></script>
        <script src="@{'public/plugins/perfect-scrollbar/src/perfect-scrollbar.js'}"></script>
        <script src="@{'public/plugins/bootbox/bootbox.min.js'}"></script>
        <script src="@{'public/plugins/jquery.scrollTo/jquery.scrollTo.min.js'}"></script>
        <script src="@{'public/plugins/ScrollToFixed/jquery-scrolltofixed-min.js'}"></script>
        <script src="@{'public/plugins/jquery.appear/jquery.appear.js'}"></script>
        <script src="@{'public/plugins/jquery-cookie/jquery.cookie.js'}"></script>
        <script src="@{'public/plugins/velocity/jquery.velocity.min.js'}"></script>
        <script src="@{'public/plugins/TouchSwipe/jquery.touchSwipe.min.js'}"></script>
        <!-- end: MAIN JAVASCRIPTS -->
        <!-- start: JAVASCRIPTS REQUIRED FOR SUBVIEW CONTENTS -->
        <script src="@{'public/plugins/owl-carousel/owl-carousel/owl.carousel.js'}"></script>
        <script src="@{'public/plugins/jquery-mockjax/jquery.mockjax.js'}"></script>
        <script src="@{'public/plugins/toastr/toastr.js'}"></script>
        <script src="@{'public/plugins/bootstrap-modal/js/bootstrap-modal.js'}"></script>
        <script src="@{'public/plugins/bootstrap-modal/js/bootstrap-modalmanager.js'}"></script>
        <script src="@{'public/plugins/fullcalendar/fullcalendar/fullcalendar.min.js'}"></script>
        <script src="@{'public/plugins/bootstrap-switch/dist/js/bootstrap-switch.min.js'}"></script>
        <script src="@{'public/plugins/bootstrap-select/bootstrap-select.min.js'}"></script>
        <script src="@{'public/plugins/jquery-validation/dist/jquery.validate.min.js'}"></script>
        <script src="@{'public/plugins/bootstrap-fileupload/bootstrap-fileupload.min.js'}"></script>
        <script src="@{'public/plugins/DataTables/media/js/jquery.dataTables.min.js'}"></script>
        <script src="@{'public/plugins/DataTables/media/js/DT_bootstrap.js'}"></script>
        <script src="@{'public/plugins/truncate/jquery.truncate.js'}"></script>
        <script src="@{'public/plugins/summernote/dist/summernote.min.js'}"></script>
        <script src="@{'public/plugins/bootstrap-daterangepicker/daterangepicker.js'}"></script>
        <script src="@{'public/wizard/subview.js'}"></script>
        <script src="@{'public/wizard/subview-examples.js'}"></script>
        <script src="@{'public/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js'}"></script>
        <!-- end: JAVASCRIPTS REQUIRED FOR SUBVIEW CONTENTS -->
        <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
        <script src="@{'public/plugins/jQuery-Smart-Wizard/js/jquery.smartWizard.js'}"></script>
        <script src="@{'public/wizard/form-wizard.js'}"></script>
        <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
        <!-- start: CORE JAVASCRIPTS  -->
        <script src="@{'public/javascripts/main.js'}"></script>
        <script src="@{'public/wizard/datepicker-fr.js'}"></script>
        <script src="/public/javascripts/jquery.hotkeys.js"></script>
        <script src="/public/javascripts/bootstrap-datetimepicker.fr.js"></script>
        <script src="/public/javascripts/bootstrap-wysiwyg.js"></script>
        <link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
      <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
      <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <!-- end: CORE JAVASCRIPTS  -->
<script >
$( ".datepickers" ).datepicker({
       language : 'fr',
      changeMonth: true,
       changeYear: true,
      dateFormat: 'dd-mm-yy'
    });

</script>



#{/set}
  