
#{extends 'admin.html' /}
#{set title: 'Ressource' /}

        <section class="content-header">
          <h1>
          #{if object}
			    Modification de :<small>${object?.libelle_ressource}</small>
			#{/if}
			#{else}
			    Ins&eacute;rer
			   
			#{/else}
	      </h1>
         
	    #{manager.menu.actions/}
	   
        </section>

        <!-- Main content -->
        <section class="content">
        #{form @update(), class : 'form', role : 'form'}
		    #{if object}
		        <input type="hidden" name="object.id" value="${object?.id}" />
		    #{/if}
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Veuillez renseigner </h3>
                </div><!-- /.box-header -->
                <!-- form start -->
              
                  <div class="box-body">
                  
                  <div class="row">
        <div class="col-lg-4">
            #{field 'object.reference'}
                #{form.input field : field, value : object?.reference, required : true,  label : 'Reference'/}
            #{/field}
        </div>
    </div> 
     <div class="row">
        <div class="col-lg-4">
            #{field 'object.libelle_ressource'}
                #{form.input field : field, value : object?.libelle_ressource, required : true,  label : 'Nom'/}
            #{/field}
        </div>
    </div> 
  
	   <div class="row">
	    <div class="col-lg-8">
			#{field 'object.description'}
			     #{form.textarea field : field, value : object?.description, required : true,  label : 'Description'/}
			#{/field}
	    </div>
		</div>
              <div class="row">
           		 <button type="submit" class="btn btn-primary">Enregistrer</button>
           	 </div>

                  </div>
               #{/form}
              </div><!-- /.box -->
			 </div>
          </div>   <!-- /.row -->
        </section>
        <!-- /.content -->

#{if object?.id}
<!-- <div class="clearfix">
    <div class="pull-right">
        #{manager.object.deleteButton id : object.id /}
    </div>
</div> -->
#{/if}

#{set 'moreScripts'}
<script src="/public/javascripts/jquery.hotkeys.js"></script>
<script src="/public/javascripts/bootstrap-wysiwyg.js"></script>
<script>
    $(document).ready(function() {
        var now = new Date();
        $('#sDatePicker').datetimepicker({
            language : 'fr',
            pickTime : true,
            pickSeconds : false,
            pick12HourFormat: false,
            endDate : now
        });

        $('#eDatePicker').datetimepicker({
            language : 'fr',
            pickTime : true,
            pickSeconds : false,
            pick12HourFormat: false,
            endDate : now
        });

        $('.editor').wysiwyg();
        $('form').on('submit', function() {
            $('#content').val($('#editor').html());
        });
    });
</script>
#{/set}
