#{if type}
   #{extends 'Client.html' /}
#{set title:'Details demande' /}
#{/if}
#{else}

#{extends 'admin.html' /}
#{set title: 'Details demande' /}
#{set 'subTitle'}
    ${object.libelle_arpc}
#{/set}
#{set 'actionMenu'}
    #{manager.menu.actions/}
#{/set}
#{/else}
<div class="row">
    <div class="col-lg-12">
       
        <section class="content">
         <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Detail sur la planification</h3> -  
                   <a href="@{list()}" >Retour a la liste</a> 
        
             
            </div>
            <div class="box-body">
               &{'object.id'} :   ${object.id} 
            </div><!-- /.box-body -->
            <div class="box-body">
               Libelle :  ${object?.libelle_conge}
            </div>
            
         #{if type}    
                 <div class="box-body">
             Agent :   ${object?.nom_agent}    ${object?.prenom_agent}
                </div>
               
        #{/if}
                   <div class="box-body">
                        Libellé congé : ${object?.libelle_conge}
                    
                       
                        </div>
                       <div class="box-body">  
                 >Motif : ${object?.motif}
                </div>
                 <div class="box-body">
                        Csu :${object?.libelle_csu}
                  </div>
                   <div class="box-body">
                        Poste : ${object?.libelle_poste_agent}
                   </div>
                 <div class="box-body">
                        Sous direction :  ${object?.libelle_sous_direction}
                        </div>
                   
            <div class="box-footer">
               #{manager.object.editButton id : object.id /}
       		  #{manager.object.deleteButton id : object.id /}
            </div><!-- /.box-footer-->
          </div>
        </section>
        
   
       
    </div>
</div>