
#{extends 'Client.html' /}
#{set title : 'Mes missions' /}
	<head>

		<!-- start: META -->
		<meta charset="utf-8" />
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="" name="description" />
		<meta content="" name="author" />
		<!-- end: META -->
		<!-- start: MAIN CSS -->
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,200,100,800' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="@{'public/wizard/plugins/bootstrap/css/bootstrap.min.css'}">
		<link rel="stylesheet" href="@{'public/wizard/plugins/font-awesome/css/font-awesome.min.css'}">
		<link rel="stylesheet" href="@{'public/wizard/plugins/iCheck/skins/all.css'}">
		<link rel="stylesheet" href="@{'public/wizard/plugins/perfect-scrollbar/src/perfect-scrollbar.css'}">
		<link rel="stylesheet" href="@{'public/wizard/plugins/animate.css/animate.min.css'}">
		<!-- end: MAIN CSS -->
		<!-- start: CSS REQUIRED FOR SUBVIEW CONTENTS -->
		<link rel="stylesheet" href="@{'public/wizard/plugins/owl-carousel/owl-carousel/owl.carousel.css'}">
		<link rel="stylesheet" href="@{'public/wizard/plugins/owl-carousel/owl-carousel/owl.theme.css'}">
		<link rel="stylesheet" href="@{'public/wizard/plugins/owl-carousel/owl-carousel/owl.transitions.css'}">
		<link rel="stylesheet" href="@{'public/wizard/plugins/summernote/dist/summernote.css'}">
		<link rel="stylesheet" href="@{'public/wizard/plugins/fullcalendar/fullcalendar/fullcalendar.css'}">
		<link rel="stylesheet" href="@{'public/wizard/plugins/toastr/toastr.min.css'}">
		<link rel="stylesheet" href="@{'public/wizard/plugins/bootstrap-select/bootstrap-select.min.css'}">
		<link rel="stylesheet" href="@{'public/wizard/plugins/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css'}">
		<link rel="stylesheet" href="@{'public/wizard/plugins/DataTables/media/css/DT_bootstrap.css'}">
		<link rel="stylesheet" href="@{'public/wizard/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css'}">
		<link rel="stylesheet" href="@{'public/wizard/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css'}">
		<!-- end: CSS REQUIRED FOR THIS SUBVIEW CONTENTS-->
		<!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
		<!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
		<!-- start: CORE CSS -->
		<link rel="stylesheet" href="@{'public/wizard/css/styles.css'}">
		<link rel="stylesheet" href="@{'public/wizard/css/styles-responsive.css'}">
		<link rel="stylesheet" href="@{'public/wizard/css/plugins.css'}">
		<link rel="stylesheet" href="@{'public/wizard/css/themes/theme-default.css'}" type="text/css" id="skin_color">
		<link rel="stylesheet" href="@{'public/wizard/css/print.css'}" type="text/css" media="print"/>
		<!-- end: CORE CSS -->
		<link rel="shortcut icon" href="favicon.ico" />
	</head>
	<!-- end: HEAD -->
	<!-- start: BODY -->
	<body>
		<!-- start: SLIDING BAR (SB) -->
	
		<!-- end: SLIDING BAR -->
		 <div class="box">
           		 <div class="box-header with-border">
              <h3 class="box-title">Details mission</h3> 
             
            
            </div>
          </div>
          <div class="row">
          	<div class="col-sm-12">
			<!-- start: FORM WIZARD PANEL -->
			<div class="panel panel-white">
			<div class="panel-body">
     <table class="table ">
            <tbody>
                <tr>
                    <td>
                        Numéro
                    </td>
                    <td>  
                        ${object.id}
                    </td>
                </tr>
 
                <tr>
                    <td>
                        Nom
                    </td>
                    <td>
                        ${object.libelle_mission}
                    </td>
                </tr>
                 <tr>
                    <td>
                      Lieu
                    </td>
                    <td>
                        ${object.lieu_mission}
                    </td>
                </tr>
                  <tr>
                    <td>
                      Objet
                    </td>
                    <td>
                        ${object.objet_mission}
                    </td>
                </tr>
                 <tr>
                    <td>
                      Date de depart
                    </td>
                    <td>
                        ${object.date_de_depart}
                    </td>
                </tr>
                 <tr>
                    <td>
                      Date de retour
                    </td>
                    <td>
                        ${object.date_de_retour}
                    </td>
                </tr>
                <tr>
                    <td>
                    Responsable
                    </td>
                    <td>
                        ${agent.nom}  ${agent.prenom} 
                    </td>
                </tr>
                <tr>
                    <td>
                    Terminée ?
                    </td>
                    <td>
                        ${object.status} 
                    </td>
                </tr>
                
                 <tr>
                    <td>
                      Enregistrée le
                    </td>
                    <td>
                        ${object.created}
                    </td>
                </tr>
              
              <tr>
                    <td>
                        Modifiée le
                    </td>
                    <td>
                        ${object.updated}
                    </td>
                </tr>
                <tr>
                    <td>
                        &{'object.dependent_objects'}
                    </td>
                    <td>
                        <ul>
                            <li>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
          </div>
</div>
</div>
</div>
			
			<!-- *** READ NOTE *** -->
			<div id="readNote">
			  <div class="e-slider owl-carousel owl-theme">
				 <div class="item"></div>
			  </div>
			</div>
	
		<!-- start: MAIN JAVASCRIPTS -->
		<!--[if lt IE 9]>
		<script src="@{'public/wizard/plugins/respond.min.js'}"></script>
		<script src="@{'public/wizard/plugins/excanvas.min.js'}"></script>
		<script type="text/javascript" src="@{'public/wizard/plugins/jQuery/jquery-1.11.1.min.js'}"></script>
		<![endif]-->
		<!--[if gte IE 9]><!-->
		<script src="@{'public/wizard/plugins/jQuery/jquery-2.1.1.min.js'}"></script>
		<!--<![endif]-->
		<script src="@{'public/wizard/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js'}"></script>
		<script src="@{'public/wizard/plugins/bootstrap/js/bootstrap.min.js'}"></script>
		<script src="@{'public/wizard/plugins/blockUI/jquery.blockUI.js'}"></script>
		<script src="@{'public/wizard/plugins/iCheck/jquery.icheck.min.js'}"></script>
		<script src="@{'public/wizard/plugins/moment/min/moment.min.js'}"></script>
		<script src="@{'public/wizard/plugins/perfect-scrollbar/src/jquery.mousewheel.js'}"></script>
		<script src="@{'public/wizard/plugins/perfect-scrollbar/src/perfect-scrollbar.js'}"></script>
		<script src="@{'public/wizard/plugins/bootbox/bootbox.min.js'}"></script>
		<script src="@{'public/wizard/plugins/jquery.scrollTo/jquery.scrollTo.min.js'}"></script>
		<script src="@{'public/wizard/plugins/ScrollToFixed/jquery-scrolltofixed-min.js'}"></script>
		<script src="@{'public/wizard/plugins/jquery.appear/jquery.appear.js'}"></script>
		<script src="@{'public/wizard/plugins/jquery-cookie/jquery.cookie.js'}"></script>
		<script src="@{'public/wizard/plugins/velocity/jquery.velocity.min.js'}"></script>
		<script src="@{'public/wizard/plugins/TouchSwipe/jquery.touchSwipe.min.js'}"></script>
		<!-- end: MAIN JAVASCRIPTS -->
		<!-- start: JAVASCRIPTS REQUIRED FOR SUBVIEW CONTENTS -->
		<script src="@{'public/wizard/plugins/owl-carousel/owl-carousel/owl.carousel.js'}"></script>
		<script src="@{'public/wizard/plugins/jquery-mockjax/jquery.mockjax.js'}"></script>
		<script src="@{'public/wizard/plugins/toastr/toastr.js'}"></script>
		<script src="@{'public/wizard/plugins/bootstrap-modal/js/bootstrap-modal.js'}"></script>
		<script src="@{'public/wizard/plugins/bootstrap-modal/js/bootstrap-modalmanager.js'}"></script>
		<script src="@{'public/wizard/plugins/fullcalendar/fullcalendar/fullcalendar.min.js'}"></script>
		<script src="@{'public/wizard/plugins/bootstrap-switch/dist/js/bootstrap-switch.min.js'}"></script>
		<script src="@{'public/wizard/plugins/bootstrap-select/bootstrap-select.min.js'}"></script>
		<script src="@{'public/wizard/plugins/jquery-validation/dist/jquery.validate.min.js'}"></script>
		<script src="@{'public/wizard/plugins/bootstrap-fileupload/bootstrap-fileupload.min.js'}"></script>
		<script src="@{'public/wizard/plugins/DataTables/media/js/jquery.dataTables.min.js'}"></script>
		<script src="@{'public/wizard/plugins/DataTables/media/js/DT_bootstrap.js'}"></script>
		<script src="@{'public/wizard/plugins/truncate/jquery.truncate.js'}"></script>
		<script src="@{'public/wizard/plugins/summernote/dist/summernote.min.js'}"></script>
		<script src="@{'public/wizard/plugins/bootstrap-daterangepicker/daterangepicker.js'}"></script>
		<script src="@{'public/wizard/js/subview.js'}"></script>
		<script src="@{'public/wizard/js/subview-examples.js'}"></script>
		<!-- end: JAVASCRIPTS REQUIRED FOR SUBVIEW CONTENTS -->
		<!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<script src="@{'public/wizard/plugins/jQuery-Smart-Wizard/js/jquery.smartWizard.js'}"></script>
		<script src="@{'public/wizard/js/form-wizard.js'}"></script>
		<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<!-- start: CORE JAVASCRIPTS  -->
		<script src="@{'public/wizard/js/main.js'}"></script>
			<script src="@{'public/wizard/datepicker-fr.js'}"></script>
		<!-- end: CORE JAVASCRIPTS  -->
		<script>
			jQuery(document).ready(function() {
				Main.init();
				SVExamples.init();
				FormWizard.init();
			});
		</script>
#{set 'moreScripts'}

#{/set}
	</body>
