#{form @planningConges(), class : 'form'}
 <div class="row">
     <div class="col-lg-8">
    <div class="form-group">
        <input type="text" class="form-control"  placeholder="${(_placeholder ? _placeholder : 'vous pouvez rechercher par nom,prenom,type de congés et sous direction').raw()}" name="k" value="${_k}" />
    </div>
  </div>
  <div class="col-lg-4">
    <div class="form-group">
    <button type="submit" class="btn btn-primary" title="&{'search'}">
        <i class="fa fa-search"> </i> Rechercher
    </button><a href="@{list()}">  </a>
</div>
  </div>
</div>
<div class="form-group">
    #{doBody /}
</div>

#{/form}