#{extends 'main.html' /}
#{set title: 'login' /}
<div class="spa-shell-main">
        
     <div class="navbar navbar-inverse set-radius-zero" style ="background-color : #FFF">
        <div class="container">
          <div class="container">
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-2">
                <img src="@{'public/img/logo.png'}" />
                </div>

                <div class="col-xs-10 col-sm-10 col-md-10">
                   <h1 style ="color : #F30">  OFFICE NATIONALE DE LA PROTECTION CIVILE  </h3>
                   <h3 style ="color : #090">  Application de Gestion des Ressources Humaines  </h5>
                </div>
            </div>
         </div>

          </div>
    </div>
               
           #{form @Comptes.authenticate(), class : 'spa-shell-form'}       
           <h1>Connectez-vous</h1>
           <div class="spa-shell-main-log"></div>
           <label></label>
           <input type="text" name="login" placeholder="Adresse Mail"/>
           <label></label>
           <input type="password" name="mot_passe" placeholder="Mot de passe"/>
       
         <div class="spa-shell-form-buttons">
         #{form.submit value : 'Connexion', icon : 'check', class : 'spa-form-send' /}
         </div>
         <p class="point" style ="color : #2F6496">
         <a href="@{Comptes.motdepasse()}">Mot de passbbbbbbbe oublie ?</a>
         </p>
         <p>ok</p>
      	#{/form}
        <!-- en cas d'erreur -->
                        #{if flash.error}
                        <p style="color:#c00">
                            ${flash.error}
                        </p>

                       #{/if}
               <!-- fin -->
        </div>

