#{extends 'main.html' /}
#{set title: 'mot de passe' /}
<div class="spa-shell-main">
        
     <div class="navbar navbar-inverse set-radius-zero" style ="background-color : #FFF">
        <div class="container">
          <div class="container">
	            <div class="row">
	                <div class="col-xs-2 col-sm-2 col-md-2">
	                <img src="@{'public/img/logo.png'}" />
	            </div>

                <div class="col-xs-10 col-sm-10 col-md-10">
                   <h1 style ="color : #F30">  OFFICE NATIONALE DE LA PROTECTION CIVILE  </h3>
                   <h3 style ="color : #090">  Application de Gestion des Ressources Humaines  </h5>
                </div>
            </div>
         </div>
          </div>
    </div>
	    
    <div class="perso">
    <h1 style ="color : #FFF; font-weight : bold">  VOUS AVEZ OUBLIEZ VOTRE MOT DE PASSE  </h1>
	<label style ="color : #FFF; text-align : justify">Indiquez le pseudo ou l'email utilise pour votre compte, nous vous enverrons immediatement 
	        par email un lien pour generer un nouveau mot de passe </label>
    </div>
    
    <div class="box4">
		    <label style ="color : #2a6496; text-align : center">Email</label>
		    <input type="text" name="email" placeholder="Mail"/>
     <a href="@{Comptes.reinitialisation()}" class="btn btn-lg btn-block btn-success">Envoyer le code</a>
	         </div>
    </div>
   
 </div>


