<div class="btn-toolbar">
    <div class="btn-group">
        <a href="@{_Agent_missions.agent()}" class="btn btn-default" title="&{'object.list'}"><i class="icon-list"> </i> Nouveau agent </a>
        <a href="@{_Agent_missions.listmission()}" class="btn btn-default" title="&{'object.add'}"><i class="icon-plus"> </i> Annuler</a>
    </div>

</div>