#{if type}
   #{extends 'Client.html' /}
#{set title:'Detail Agent' /}
#{/if}
#{else}

#{extends 'admin.html' /}
#{set title: 'Detail Agent' /}
#{set 'subTitle'}
    ${agent.nom}
#{/set}
#{set 'actionMenu'}
    #{manager.menu.actions/}
#{/set}
#{/else}
<div class="row">
    <div class="col-lg-12">
       
        <section class="content">
         <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Detail sur la Agent</h3> -  
                   <a href="@{list()}" >Retour a la liste</a> -
                   
                   <a href="@{edit()}" >Nouveau agent</a>
             
            </div>
            <div class="box-body">
               &{'object.id'} :   ${agent.id} 
            </div><!-- /.box-body -->
             <div class="box-body">
                        Matricule :  ${agent?.matricule}
               </div>
              <div class="box-body">
           			   Nom  : ${agent?.nom}
               </div>
              <div class="box-body">
                        Prénom:   ${agent?.prenom}
                </div>
  				<div class="box-body">
                        Date de Naissance: ${agent?.date_naissance?.format("dd/MM/yyyy")}
                  </div>
               <div class="box-body">
                        Date de prise de service :  ${agent?.date_prise_svce_poste_courant?.format("dd/MM/yyyy")}
                  
                </div>
                  <div class="box-body">
                        Adresse :  ${agent?.adresse}
                  
              </div> 
               <div class="box-body">
                        Type agent : ${agent?.libelle_type_agent}
               </div>
              	  <div class="box-body">
                        Echelon :  ${agent?.libelle_echelon}
           		 </div>
           		  <div class="box-body">
                        Classe : ${agent?.libelle_classe}
                  </div>
                <div class="box-body">
                        Csu : ${agent?.libelle_csu_courant}
                </div>
                 <div class="box-body">
                        Grade : ${agent?.libelle_grade}
                   </div>
                 <div class="box-body">
                        Lieu d'habitation :  ${agent?.lieuHbtion}
                     </div>
                 <div class="box-body">
                        Numero de la CNI :  ${agent?.numCni}
                  </div>
                <div class="box-body">
                     Sous direction :  ${agent?.libelle_sous_dir_courant}
                  </div>
                   <div class="box-body">
                        Poste : ${agent?.libelle_poste}
                  </div>
               
        	 #{if type}
			#{/if}
			#{else}
            <div class="box-footer">
 			#{manager.agent.editButton id : agent.id /}
			#{manager.agent.deleteButton id : agent.id /}
			#{/else}
          
            </div><!-- /.box-footer-->
          </div>
        </section>
        
   
       
    </div>
</div>