
#{extends 'admin.html' /}
#{set title: 'Details depart' /}
#{set 'subTitle'}
    ${object.libelle_status}
#{/set}
#{set 'actionMenu'}
    #{manager.menu.actions/}
#{/set}
<div class="row">
    <div class="col-lg-12">
       
        <section class="content">
         <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Detail sur le status</h3> -  
                   <a href="@{list()}" >Retour a la liste</a> -
                   <a href="@{edit()}" >Nouveau depart</a>
             
            </div>
            <div class="box-body">
               Numéro :   ${object.id} 
            </div><!-- /.box-body -->
            <div class="box-body">
               Status :   ${object.libelle_status}
            </div>
             <div class="box-body">
               Agent :   ${object.nom_agent}    ${object.prenom_agent} 
            </div>
              
             <div class="box-body">
                &{'object.created'} :   ${object.created?.format("dd/MM/yyyy")}
            </div>
             <div class="box-body">
               &{'object.updated'} : &{object.updated?.format("dd/MM/yyyy")}
            </div>
            <div class="box-footer">
               #{manager.object.editButton id : object.id /}
       		  #{manager.object.deleteButton id : object.id /}
            </div><!-- /.box-footer-->
          </div>
        </section>
        
   
       
    </div>
</div>