
#{extends 'admin.html' /}
	<head>

		<link rel="stylesheet" href="@{'public/stylesheets/jquery-ui.css'}">
		<link rel="stylesheet" href="@{'public/wizard/css/styles.css'}">
		<link rel="stylesheet" href="@{'public/wizard/css/styles-responsive.css'}">
		<link rel="stylesheet" href="@{'public/wizard/css/plugins.css'}">
		<link rel="stylesheet" href="@{'public/wizard/css/themes/theme-default.css'}" type="text/css" id="skin_color">
		<link rel="stylesheet" href="@{'public/wizard/css/print.css'}" type="text/css" media="print"/>
		<!-- end: CORE CSS -->
		<link rel="shortcut icon" href="favicon.ico" />
	</head>
	<!-- end: HEAD -->
	<!-- start: BODY -->
	<body>
		<!-- start: SLIDING BAR (SB) -->
	
		<!-- end: SLIDING BAR -->
		 <div class="box">
           		 <div class="box-header with-border">
              <h3 class="box-title">Ajout de piece</h3> -  
                   <a href="@{list()}" >Retour a la liste</a> 
            
            </div>
          </div>
          <div class="row">
          	<div class="col-sm-12">
			<!-- start: FORM WIZARD PANEL -->
			<div class="panel panel-white">
			<div class="panel-body">
			#{form @agentpieceSave(), role :'form', id :"form" ,enctype:'multipart/form-data'}
    #{if object}  
        <input type="hidden" name="agent.id" value="${agent?.id}" />
        <input type="hidden" name="object.id" value="${object?.id}" />
    #{/if}    
<br/>
    <div class="row">
    <div class="col-lg-12">
           <div class="col-lg-6">
          <div class="form-group">
               <label class="control-label col-sm-2" for="nom"></label>
                <div class="col-sm-10">
                    <div class="form-group">
                     <label for="pwd">Réference de la pièce</label>
                      <input  type="text" class="form-control " name="numero_piece" value="${object?.id}">
                  </div>
                </div>
             </div>
         </div>
         <div class="col-lg-6">
          <div class="form-group">
               <label class="control-label col-sm-2" for="nom"></label>
                <div class="col-sm-10">
                    <div class="form-group">
                     <label for="pwd">Intitulé de la pièce</label>
                      <input  type="text" class="form-control " name="libelle_piece" value="${object?.libelle_piece}">
                  </div>
                </div>
             </div>
         </div>
    </div>  
    </div>
     <div class="row">
    <div class="col-lg-12">
          <div class="col-lg-6">
           <div class="form-group">
             <label class="control-label col-sm-2" for="nom"></label>
              <div class="col-sm-10">
                 <div class="form-group">
                   <label for="pwd">Délivrée le</label>
                    <input data-format="dd/MM/yyyy, hh:mm" type="text" class="form-control datepickers" name="date_piece" value="${object?.date_piece}">
                </div>
              </div>
           </div>
         </div>
         <div class="col-lg-6">
            <div class="form-group">
              <label class="control-label col-sm-2" ></label>
               <div class="col-sm-10">
                  <div class="form-group">
                    <label for="numero">Délivrée A</label>
                   <input type="text" class="form-control" name="lieu_delivrance" value="${object?.lieu_delivrance}" >
                  </div>
               </div>
            </div>
         </div>
    </div>
    </div>
         <div class="row">
    <div class="col-lg-12">
              <div class="col-lg-6">
            <div class="form-group">
              <label class="control-label col-sm-2" ></label>
               <div class="col-sm-10">
                  <div class="form-group">
                      <label for="numero">Délivrée Par</label>
                     <input type="text" class="form-control" name="auteur" value="${object?.auteur}" >
                    </div>
               </div>
            </div>
         </div>
         <div class="col-lg-6">
           <div class="form-group">
           <label class="control-label col-sm-2" for="nom"></label>
            <div class="col-sm-10">
               <div class="form-group">
                 <label for="pwd">Valide jusqu'au</label>
                  <input data-format="dd/MM/yyyy, hh:mm" type="text" class="form-control datepickers" name="date_fin_validite" value="${object?.date_fin_validite}">
              </div>
            </div>
         </div>
         </div>
         </div>
         </div>
         <div class="row">
           <div class="col-lg-12">
    <div class="col-lg-6">
      <div class="form-group">
        <label class="control-label col-sm-2" ></label>
         <div class="col-sm-10">
            <div class="form-group">
                <label for="numero">Poste de l'auteur</label>
               <input type="text" class="form-control" name="poste_auteur" value="${object?.poste_auteur}" >
              </div>
         </div>
      </div>
   </div>
   <div class="col-lg-6">
      <div class="form-group">
        <label class="control-label col-sm-2" ></label>
         <div class="col-sm-10">
            <div class="form-group">
              <label for="numero">Charger le fichier</label>
             <input type="file" class="form-control" name="piece" value="${object?.piece}" >
            </div>
         </div>
      </div>
   </div>
    </div>
    </div>
     <div class="row">
           <div class="col-lg-12">
             <div class="col-lg-8"></div>
             <div class="col-lg-4">
             <label class="control-label col-sm-6" ></label>
             <div class="col-sm-6">
               <button class="btn btn-blue" type="submit">
                          Ajouter
               </button>
               </div>
             </div>
           </div>
         </div>
    
    <br><br>
         <br/>

  
    
#{/form}
			
    
   </div>
</div>
</div>
</div>

	<!-- start: MAIN JAVASCRIPTS -->
		<!--[if lt IE 9]>
		<script src="@{'public/wizard/plugins/respond.min.js'}"></script>
		<script src="@{'public/wizard/plugins/excanvas.min.js'}"></script>
		<script type="text/javascript" src="@{'public/wizard/plugins/jQuery/jquery-1.11.1.min.js'}"></script>
		<![endif]-->
		<!--[if gte IE 9]><!-->
		<script src="@{'public/wizard/plugins/jQuery/jquery-2.1.1.min.js'}"></script>
		<!--<![endif]-->
		<script src="@{'public/wizard/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js'}"></script>
		<script src="@{'public/wizard/plugins/bootstrap/js/bootstrap.min.js'}"></script>
	
		<!-- start: JAVASCRIPTS REQUIRED FOR SUBVIEW CONTENTS -->
		<script src="@{'public/wizard/plugins/owl-carousel/owl-carousel/owl.carousel.js'}"></script>
		<script src="@{'public/wizard/plugins/jquery-mockjax/jquery.mockjax.js'}"></script>

		<script src="@{'public/wizard/plugins/jquery-validation/dist/jquery.validate.min.js'}"></script>
	<script src="@{'public/javascripts/jquery.ui.datepicker.js'}"></script>	
	

		<!-- end: CORE JAVASCRIPTS  -->
			   <script src="@{'public/dist/js/app.min.js'}"></script>
		<script>
			jQuery(document).ready(function() {
			
	
			});
		</script>
		<script>
	$(function() {
		$( ".datepickers" ).datepicker( $.datepicker.regional[ "fr" ] );
		
	});
	</script>
#{set 'moreScripts'}

#{/set}
	</body>

