#{extends 'menuConge.html' /}
#{set title: 'Pièce' /}
#{set 'subTitle'}
    ${object.libelle_piece}
#{/set} 
<div >
<img src="@{agentPiece(object.id)}" class="dimfoto">
</div>
<div class="info">
<div class="row">
    <div class="col-lg-12">
        <table class="table table-hover table-condensed table-striped">
            <tbody>
                <tr>
                    <td>
                        &{'object.id'}
                    </td>
                    <td>
                        ${object.id}
                    </td>
                </tr>

                <tr>
                    <td>
                        Pièce
                    </td>
                    <td>
                        ${object.libelle_piece}
                    </td>
                </tr>

                <tr>
                    <td>
                        Numero
                    </td>
                    <td>
                        ${object.numero_piece}
                    </td>
                </tr>
                <tr>
                    <td>
                        Délivrée le
                    </td>
                    <td>
                        ${object.date_piece}
                    </td>
                </tr>
               
                
                 <tr>
                    <td>
                        &{'object.created'}
                    </td>
                    <td>
                        ${object.created}
                    </td>
                </tr>
              
              <tr>
                    <td>
                        &{'object.updated'}
                    </td>
                    <td>
                        ${object.updated}
                    </td>
                </tr>
                <tr>
                    <td>
                        &{'object.dependent_objects'}
                    </td>
                    <td>
                        <ul>
                            <li>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <div class="clearfix">
    <div class="pull-right">
        #{manager.object.editButton id : object.id /}
        #{manager.object.deleteButton id : object.id /}
     
    </div>
</div>
        <!-- <div class="clearfix">
            <div class="pull-right">
                #{manager.object.editButton id : object.id /}
            </div>
        </div> -->
    </div>
</div>
</div>