
#{extends 'admin.html' /}
#{set title: 'Mission' /}
#{set 'subTitle'}
    ${object.libelle_mission}
#{/set}
#{set 'actionMenu'}
    #{manager.menu.actions/}
#{/set}
<div class="row">
    <div class="col-lg-12">
       
        <section class="content">
         <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Detail sur la mission</h3> -  
                   <a href="@{list()}" >Retour a la liste</a> -
                   <a href="@{edit()}" >Nouvelle mission</a>
             
            </div>
            <div class="box-body">
               &{'object.id'} :   ${object.id} 
            </div><!-- /.box-body -->
            <div class="box-body">
               Libelle :  ${object.libelle_mission}
            </div>
              <div class="box-body">
                  Lieu : ${object.lieu_mission}
               </div>
                <div class="box-body">
                Objet : ${object.objet_mission}
                </div>
                 <div class="box-body">
                      Date de depart : ${object.date_de_depart?.format("dd/MM/yyyy")}
                  </div>
                   <div class="box-body">
                         Date de retour : ${object.date_de_retour?.format("dd/MM/yyyy")}</div>
                 <div class="box-body">
                    Responsable : ${agent.nom}  ${agent.prenom} (Poste)
                    </div>
                   
             <div class="box-body">
                &{'object.created'} :   ${object.created?.format("dd/MM/yyyy")}
            </div>
             <div class="box-body">
               &{'object.updated'} : &{object.updated?.format("dd/MM/yyyy")}
            </div>
            <div class="box-footer">
               #{manager.object.editButton id : object.id /}
       		  #{manager.object.deleteButton id : object.id /}
            </div><!-- /.box-footer-->
          </div>
        </section>
        
   
       
    </div>
</div>