#{extends 'main.html' /}
<style>
     #bo {background : red}
</style>
<body class="bo">
<div class="login-box">
      <div class="login-logo">
        <a href="../../index2.html"><b>Administration</a>
      </div><!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">Authentifiez-vous</p>
             <!-- en cas d'erreur -->
                    
                        <div class="row">
                         #{if flash.error}
                       <div class="alert alert-danger" role="alert">
                            ${flash.error}
          </div>
</div>
                     

                       #{/if}
               <!-- fin -->
      #{form @Comptes.Authenticate(), class : 'form', role : 'form'}
          <div class="form-group has-feedback">
            <input type="email" class="form-control" placeholder="Email" name="login">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input type="password" class="form-control" placeholder="Mot de passe" name="mot_passe">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="row">
            <div class="col-xs-8">
              <div class="checkbox icheck">
                <a href="@{Application.wizard()}">Mot de passe oublié</a><br>
              </div>
            </div><!-- /.col -->
            <div class="col-xs-4">
              <button type="submit" class="btn btn-primary btn-block btn-flat">Connexion</button>
            </div><!-- /.col -->
          </div>
      #{/form}
 
      </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->


    <script>
      $(function () {
        $('input').iCheck({
          checkboxClass: 'icheckbox_square-blue',
          radioClass: 'iradio_square-blue',
          increaseArea: '20%' // optional
        });
      });
    </script>
    </body>