 #{extends 'index.html' /}
 <div class="wrapper">
 <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="@{'public/dist/img/user2-160x160.jpg'}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
              <p>Amon Serge Kevin</p>
              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div>
          <!-- search form -->
          <form action="#" method="get" class="sidebar-form">
            
          </form>
          <!-- /.search form -->
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header">Memu client</li>
            <li class="active treeview">
              <a href="#">
                <i class="fa fa-dashboard"></i> <span>Profil</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li>
            <a class="" href="@{Agents.view(_id)}">
              <span class="glyphicon glyphicon-info-sign"></span> Informations
            </a>
          </li>
          <li>
            <a class="" href="@{_Agent_decorations.list()}">
              <span class="glyphicon glyphicon-share-alt"></span> Décorations
            </a>
          </li>
          <li>
            <a class=""href="@{_Agent_postes.list()}">
              <span class="glyphicon glyphicon-share-alt"></span> Promotion/Mutations
            </a>
          </li>
          <li>
            <a class=""href="@{_Agent_sanctions.list()}">
              <span class="glyphicon glyphicon-share-alt"></span> Sanctions
            </a>
          </li>
          <li>
            <a class="" href="#">
              <span class="glyphicon glyphicon-share-alt"></span> Certificats
            </a>
          </li>					
           </ul>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-files-o"></i>
                <span>Missions</span>
                 <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
             <li>
            <a class="" href="@{_Agent_missions.mesMissions()}">
              <span class="glyphicon glyphicon-share-alt"></span> Mes Missions 
            </a>
          </li>
          
          <li>
            <a class="" href="#">
              <span class="glyphicon glyphicon-share-alt"></span> Ajout d'un rapport
            </a>
          </li>
              </ul>
            </li>
           
            <li class="treeview">
              <a href="#">
                <i class="fa fa-pie-chart"></i>
                <span>Formations</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
             	<li>
		            <a class="" href="@{Formations.list()}">
		              <span class="glyphicon glyphicon-share-alt"></span> Nouvelle demande
		            </a>
		          </li>
		          <li>
		            <a class="" href="@{_Agent_formations.list()}">
		              <span class="glyphicon glyphicon-share-alt"></span> Formations demandées
		            </a>
		          </li>	
               <li>
                <a class="" href="@{_Agent_formations.formationRealiser()}">
                  <span class="glyphicon glyphicon-share-alt"></span> Formations realisées
                </a>
              </li> 
              </ul>
            </li>
              <li class="treeview">
           
             <ul class="treeview-menu">
		             <li>
		            <a class="" href="@{_Agent_conges.edit()}">
		              <span class="glyphicon glyphicon-share-alt"></span> Nouvelle demande
		            </a>
		          </li>
		          <li>
		            <a class="" href="@{_Agent_conges.list()}">
		              <span class="glyphicon glyphicon-share-alt"></span> Demandes en attente
		            </a>
		          </li>
		          <li>
		            <a class="" href="@{_Agent_conges.congeValide()}">
		              <span class="glyphicon glyphicon-share-alt"></span> Mes congés  
		            </a>
		          </li>
		          <li>
		            <a class="" href="@{_Piece_agents.edit()}">
		              <span class="glyphicon glyphicon-share-alt"></span> Nouvelle pièce  
		            </a>
		          </li>
		          <li>
		            <a class="" href="@{_Piece_agents.list()}">
		              <span class="glyphicon glyphicon-share-alt"></span> Mes pièces  
		            </a>
		          </li>
             </ul>
             
            </li>
            
               <li class="treeview">
              <a href="#">
                <i class="fa fa-pie-chart"></i>
                <span>Conges</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
             	<li>
             <a class="" href="@{_Agent_conges.edit()}">
              <span class="glyphicon glyphicon-share-alt"></span> Nouvelle demande
            </a>
          </li>
          <li>
            <a class="" href="@{_Agent_conges.list()}">
              <span class="glyphicon glyphicon-share-alt"></span> Demandes en attentes
            </a>
          </li>
          <li>
            <a class="" href="@{_Agent_conges.congeValide()}">
              <span class="glyphicon glyphicon-share-alt"></span> Mes conges
            </a>
          </li>
          <li>
            <a class="" href="@{_Piece_agents.edits()}">
              <span class="glyphicon glyphicon-share-alt"></span> Mes pieces
            </a>
          </li>
              </ul>
            </li>
               <li class="treeview">
              <a href="#">
                <i class="fa fa-pie-chart"></i>
                <span>Diplomes/Cartes</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
             	<li>
             <a class="" href="@{_Agent_formations.formationRealiser()}">
              <span class="glyphicon glyphicon-share-alt"></span> Nouvelle demande
            </a>
          </li>
          <li>
            <a class="" href="@{_Agent_formations.listeDemandeAgent()}">
              <span class="glyphicon glyphicon-share-alt"></span> Demandes en attentes
            </a>
          </li>
              </ul>
            </li>
      
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>
 	

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
           #{doLayout /}
      </div><!-- /.content-wrapper -->
      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b>Version</b> 1.0.0
        </div>
        <strong>Ebenyx Technologies &copy; 2014-2015 .</strong> Tous droits reservés.
      </footer>

        </div>