 #{extends 'index.html' /}
 <div class="wrapper">
 <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="@{'public/dist/img/user2-160x160.jpg'}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
              <p>Amon Serge Kevin</p>
              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div>
          <!-- search form -->
          <form action="#" method="get" class="sidebar-form">
            
          </form>
          <!-- /.search form -->
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header">Menu</li>
            <li class="active treeview">
              <a href="#">
                <i class="fa fa-dashboard"></i> <span>Carrieres</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li>
				<a href="@{Decorations.edit()}">
					<i class="fa fa-circle-o"></i><span class="title"> Decoration </span>
				</a>
			</li>
			<li>
				<a href="@{Modules.edit()}">
			<i class="fa fa-circle-o"></i><span class="title"> Module </span>
				</a>
			</li>
			<li>
				<a href="@{Postes.edit()}">
			<i class="fa fa-circle-o"></i>	<span class="title"> Poste </span>
				</a>
			</li>
			<li>
				<a href="@{Sanctions.edit()}">
					<i class="fa fa-circle-o"></i><span class="title"> Sanction disciplinaire</span>
				</a>
			</li>
			<li>
				<a href="@{Statuss.edit()}">
				<i class="fa fa-circle-o"></i>	<span class="title"> Status </span>
				</a>
			</li>
              </ul>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-files-o"></i>
                <span>Conges</span>
                 <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li>
					<a href="@{Conges.edit()}">
						<i class="fa fa-circle-o"></i><span class="title"> Type conge </span>
					</a>
				</li>
              </ul>
            </li>
           
            <li class="treeview">
              <a href="#">
                <i class="fa fa-pie-chart"></i>
                <span>Recrutements</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
              
              <li>
				<a href="@{Arpcs.edit()}">
				<i class="fa fa-circle-o"></i>	<span class="title"> Arpc</span>
				</a>
			</li>
			<li>
				<a href="@{Classes.edit()}">
			<i class="fa fa-circle-o"></i>		<span class="title"> Classe </span>
				</a>
			</li>
			<li>
				<a href="@{Contrats.edit()}">
				<i class="fa fa-circle-o"></i>	<span class="title"> Contrat </span>
				</a>
			</li>
			<li>
				<a href="@{Csus.edit()}">
				<i class="fa fa-circle-o"></i>	<span class="title"> Csu</span>
				</a>
			</li>
			<li>
				<a href="@{Situations.edit()}">
			<i class="fa fa-circle-o"></i>		<span class="title"> Situation matrimoniale </span>
				</a>
			</li>
			<li>
				<a href="@{Departements.edit()}">
				<i class="fa fa-circle-o"></i>	<span class="title"> Departement</span>
				</a>
			</li>
			<!-- <li>
				<a href="@{Directions.edit()}">
				<i class="fa fa-circle-o"></i>	<span class="title"> Direction</span>
				</a>
			</li> -->
			<li>
				<a href="@{Echelons.edit()}">
				<i class="fa fa-circle-o"></i>	<span class="title"> Echelon</span>
				</a>
			</li>
			<li>
				<a href="@{Emplois.edit()}">
				<i class="fa fa-circle-o"></i>	<span class="title"> Emploi	</span>
				</a>
			</li>
			<li>
				<a href="@{Grades.edit()}">
				<i class="fa fa-circle-o"></i>	<span class="title"> Grade</span>
				</a>
			</li>
			<li>
				<a href="@{Mode_recrutements.edit()}">
			<i class="fa fa-circle-o"></i>		<span class="title"> Mode de recrutement	</span>
				</a>
			</li>
			<li>
				<a href="@{Sous_directions.edit()}">
				<i class="fa fa-circle-o"></i>	<span class="title"> Sous direction</span>
				</a>
			</li>
			<li>
				<a href="@{Villes.edit()}">
					<i class="fa fa-circle-o"></i><span class="title"> Ville </span>
				</a>
			</li>
			<li>
				<a href="@{Traitements.edit()}">
				<i class="fa fa-circle-o"></i>	<span class="title"> Traitements </span>
				</a>
			</li>
			
			<li>
				<a href="@{Type_agents.edit()}">
					<i class="fa fa-circle-o"></i><span class="title"> Type de agent</span>
				</a>
			</li>
			<li>
				<a href="@{Type_recrutements.edit()}">
					<i class="fa fa-circle-o"></i><span class="title"> Type de recrutement</span>
				</a>
			</li>
             
              </ul>
            </li>
      
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>
 	

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
           #{doLayout /}
      </div><!-- /.content-wrapper -->
      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b>Version</b> 1.0.0
        </div>
        <strong>Ebenyx Technologies &copy; 2014-2015 </strong>Tous droits reserves.
      </footer>

        </div>